body {
    margin: 0;
    padding: 0;
}

#main-navigation {
    background-color: #FFF;
    max-height: 128px;
}

header h1 {
    font-family: "Calibri";
    color: #CDDC39;
}
#main-nav ul {
    margin-bottom: 0;
    margin-top: 10px;
}
#main-nav ul li {
    color: #CDDC39;
    font-weight: 600;
    font-size: 1.5em;
}

#login input[type=text],
#login input[type=password] {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border-color: #fff;
}

#login input[type=text]:focus,
#login input[type=password]:focus {
    border-color: #CDDC39;
    outline: none;
}

#login-icon {
    width:44px;
    height:41px;
}

#login-icon:hover {
    cursor: pointer;
}

#logo {
    max-width: 100px;
    max-height: 100px;
}

article {
    font-size: 1.4em;
}


#main-nav ul li:hover {
    cursor: pointer;
    color: 009933;
}

#logo-image {
    max-height: 100px;
    max-width: 100px;
    position: right;
}


/* login color #8BC34A */