body {
    margin: 0;
    padding: 0;
    color: #666e1c;
    background-color: #f8fded;
    font-family:Arial, Helvetica, sans-serif;
}
li {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
#main-navigation li a{
    background-color: #a4b02d;
    height: 70px;
    padding-top: 20px;
    border-left:1px solid #e5e5e5;
    border-radius: 4px;
    color: #fbfff5;
}
#main-navigation li a:hover {
    background-color: #CDDC39;
}
#main-navigation li a.active, #main-navigation li a.active:focus {
    background-color: #CDDC39;
}
#main-navigation ul:last-child a:hover {
    cursor: pointer;
}
nav li {
    margin-top: 10px;
    font-size: 1.5em;
    text-align: center;
}
#logo {
    padding-bottom: 25px;
    padding-top: 10px;
}
#logo h1 a {
    font-size: 1.2em;
    color: #666e1c;
}
#logo p {
    margin-top: 6%;
    font-size: 1.5em;
}
#inner-tabs {
    text-decoration: none;
    list-style: none;
    text-align: center;
    border: none;
}
#inner-tabs li a{
    border: none;
}
#inner-tabs li a:hover {
    background-color: #CDDC39;
    color: white;
}
#inner-tabs li a {
    border: none;
    color: white;
    background-color: #b8c633;
    font-size: 1.2em;
}
#inner-tabs>li.active>a{
    color: white;
    background-color: #CDDC39;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 20px;
}
#inner-tabs>li.active>a:focus{
     background-color:  #CDDC39;
}
.container .jumbotron{
    background-color:  #CDDC39;
    color: white;
    border-radius: 0 0 6px 6px; 
}
.jumbotron figure {
    margin-top: 10px;
}

.title {
    font-size:3em;
    color:#f0f0f0;
    letter-spacing:-2px;
    margin-bottom:-2px;
}

header h1 {
    font-family: "Calibri";
    color: #CDDC39;
}

/*#navigation {
    margin-top: 10px;
    font-size: 1.5em;
}*/

#login input[type=text],
#login input[type=password] {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border-color: #fff;
}

#login input[type=text]:focus,
#login input[type=password]:focus {
    border-color: #CDDC39;
    outline: none;
}

footer {
    width:100%;
    padding:15px 0 15px;
    background:url(../content/images/footer-tail.gif) center top repeat-x;
}


#footerContent {
    text-align:center;
}



